*, *:before, *:after {
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #EAEDF1;
    color: #FFFFFF;
    font-family: Helvetica,sans-serif;
    text-align: center;
    text-rendering: optimizelegibility;
}

main {
    display: block;
}

header, section {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 540px;
}

header {
    background-color: #34495E;
    font-family: Palatino,Georgia,serif;
    font-size: 37px;
    margin-bottom: 0;
    margin-top: 50px;
    padding: 24px 0;
    position: relative;
    text-align: center;
}

.progress {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.2);
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#download, #upload {
    background-color: #16A085;
    width: 49.9%;
}

#download {
    float: left;
}

#upload {
    float: right;
}

.kbps {
    padding: 7px 0;
    position: relative;
    text-align: center;
}

.value {
	font-size: 75px;
	font-family: Palatino,georgia,serif;
}

.unit {
    font-size: 18px;
}

.caption {
    background: none repeat scroll 0 0 rgba(26, 188, 156, 1.0);
    font-size: 24px;
    padding: 11px 0;
    text-align: center;
}

button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #a7c1bc;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 2px;
    color: #34495E;
    font-family: Palatino,georgia,serif;
    font-size: 24px;
    padding: 11px;
    width: 100%;
    text-align: center;
}

#error {
    background: none repeat scroll 0 0 #D35400;
    border-radius: 30px 30px 30px 30px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 36px;
    height: 50px;
    margin: 100px;
    padding-top: 5px;
    text-align: center;
    width: 50px;
}
