*, *:before, *:after {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  text-align: center;
	background-color: #EAEDF1;
	color: #fff;
	font-family: Helvetica, sans-serif;
  text-rendering: optimizeLegibility
}

main {
  display:  block;
}

#container {
	width: 540px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

header {
  position: relative;
	margin-top: 50px;
	padding: 24px 0;
	background-color: #34495e;
	font-family: Palatino, Georgia, serif;
	font-size: 37px;
	text-align: center;
}

#download, #upload {
	background-color: #16a085;
    width: 50%;
}

#download {
	float: left;
  border-right: 1px solid #fff;
}

#upload {
	float: right;
}

.kbps {
  background: #73c6b5;
  position: relative;
	padding: 22px 0;
	font-family: Palatino, Georgia, serif;
	font-size: 75px;
	text-align: center;
}

.value, .unit {
  position: relative;
  z-index: 2;
}

.unit {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  margin-left: -15px;
}

.progress {
  position: absolute;
  z-index: 1;
  /* background: rgba(255,255,255,0.2); */
  background: #16a085;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.caption {
  background: rgba(255,255,255,0.2);
  background: #44b39d;
	font-size: 24px;
	padding: 11px 0;
	text-align: center;
}

button {
  width: 100%;
	margin: auto;
	padding: 11px 0;
  border: none;
  border-bottom: 2px solid #a7c1bc;
  background: none repeat scroll 0 0 #fff;
  color: #34495E;
	font-family: Palatino, Georgia, serif;
	text-align: center;
	font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

button[disabled=disabled] {
  color: #A7C1BC;
}

#error {
	background: #d35400;
	width: 50px;
	height: 50px;
	border-radius: 30px;
	margin:  100px 100px 100px 100px;
	color: #fff;
	font-family: Helvetica;
	font-size: 36px;
	text-align: center;
	padding-top: 5px;
}


@media screen and (max-width: 600px) {
  header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
  }

  .kbps {
    padding: 10px 0;
  }

  .kbps .value {
    display: block;
    font-size: 40px;
  }

  .kbps .unit {
    display: block;
    font-size: 18px;
    margin-left: 0px;
  }

  .caption {
    font-size: 20px;
  }

  button {
    width: 80%;
    padding: 12px 0;
    font-size: 20px;
    margin-top: 24px;
  }
}
